body{
  background-color:peachpuff;
}
h1{
   background-color:bisque;
}
h3{
  background-color:white;
}
h2{
  background-color:white;
}
h5{
  background-color:white;
}
.smaller-image{
  height: 140px;
  width:180px;
}
 .heading{ 
      background-color:rgb(238,221,130);
  width:150px;
    height:20px;
   border: 2px solid black;
   border-radius: 100px;
padding: 5px ;
}
.box3{
  background-color:azure;
  width:200px;
    height:20px;
border: 2px solid black;
   border-radius: 100px;
padding: 4px ;
}
.box1{
  background-color:azure;
  width:60px;
    height:20px;
border: 2px solid black;
   border-radius: 100px;
padding: 4px ;
}
.box2{
  background-color:azure;
  align="center";
  width:150px;
    height:20px;
border: 2px solid black;
   border-radius: 100px;
padding: 4px ;
}
.popup1{
  height: 120px;
  width:140px;
}
.popup2{
  height: 120px;
  width:140px;
}
.popup3{
  height: 120px;
  width:140px;
}
.contact{
  background-color:white;
  width:200px;
  height: 100px;
  border: 2px solid black;
   border-radius: 1px;
padding: 8px ;
}
h6{
  background-color:black;
  height: 3px;
}
.myPic{
  height:220px;
    width:180px;  
}